body {
  /* height: 100vh !important;
  overflow-y: scroll !important; */
  z-index: 1;
}
.aframe-height {
  height: 90vh !important;
  width: 100%;
}
#aframe_container {
  position: relative;
}

.a-modal {
  display: none !important;
}
.a-enter-vr-button {
  bottom: 12 !important;
}

#scroll_down {
  z-index: 3;
  display: block;
  position: absolute;
  width: 50px;
  height: 25px;
  left: 50%;
  margin-left: -15px;
  bottom: 2%;
  background: url(../assets/down_arrow.png) no-repeat;
}
