#container {
  position: absolute;
  z-index: 10;
  /* left: 50px; */
  top: 0;
  font-family: "Lato", sans-serif;
  padding: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  position: relative !important;
}

.aframe-height {
  height: 100vh;
  width: 100% !important;
}
#top_nav {
  margin-top: 40px;
  float: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

#bottom_nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2%;
  height: auto;
}

#logo {
  z-index: 10;
  left: 20;
  top: 10;
  float: left;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: 200;
  color: #eb483f;
}
#logo1 {
  z-index: 10;
  position: absolute;
  top: 2px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: lighter !important;
  color: #eb483f;
  font-family: "Lato", sans-serif;
}
@media (min-width: 1023px) {
  #logo {
    display: none;
  }
}
@media (max-width: 1023px) {
  #logo1 {
    display: none;
  }
}
#hero_text {
  pointer-events: none;
  position: fixed;
  z-index: 7;
  top: 10;
  float: left;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  color: #fff;
}

#headline {
  pointer-events: auto;
  position: absolute;
  z-index: 7;
  top: 35vh;
  float: left;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 60px;
}
#enter_btn {
  z-index: 8;
  padding: 0.75em;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: 60vh;
  max-width: 80%;
  font-weight: 400;
  color: #2971b6;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
#home_text {
  position: absolute;
  top: 85vh;
  display: none;
  /* padding:2em; */
  cursor: pointer;
  pointer-events: auto;
  text-transform: uppercase;
  text-align: center;
  max-width: 40%;
  font-weight: 400;
  color: #ffff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 28px;
}

#instructions {
  pointer-events: auto;
  position: absolute;
  z-index: 7;
  top: 95vh;
  float: left;
  width: 100%;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.a-modal {
  display: none !important;
}

.a-enter-vr-button {
  bottom: 12 !important;
}

/* #enter_btn:hover {
      background: #eab49f4f;
      border-radius: 6px;
  } */

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeout {
  -webkit-animation: fadeout 0.7s ease-out;
  -moz-animation: fadeout 0.7s ease-out;
  animation: fadeout 0.7s ease-out;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  -webkit-animation: fadein 3s ease-out;
  -moz-animation: fadein 3s ease-out;
  animation: fadein 3s ease-out;
}

nav .links {
  float: center;
  text-transform: uppercase;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav .links a {
  float: center;
  display: block;
  padding: 2.5em;
  font-size: 20px;
  font-weight: 400;
  color: #2971b6;
  text-decoration: none;
  width: max-content !important;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute !important;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 7px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  #headline {
    top: 25vh;
    font-weight: 300;
    font-size: 45px;
  }

  #enter_btn {
    top: 70vh;
    padding: 0.5em;
    max-width: 100%;
    font-size: 16px;
  }

  #home_text {
    font-size: 14px;
    line-height: 1.2rem;
    max-width: 90%;
  }
}

@media screen and (max-width: 1023px) {
  #logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: center;
    /* float: none; */
    position: fixed;
    z-index: 12;
    background-color: #ffab8a;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    padding: 1em;
    font-size: 20px;
    font-weight: 400;
  }

  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(5px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    transform: translateY(-5px) rotate(-225deg);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #enter_btn {
    top: 60vh;
  }
  #headline {
    top: 33vh;
  }
}
@media (max-width: 768px) {
  #top_nav {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  nav .links a {
    padding: 0.8em !important;
    font-size: 18px;
    font-weight: 400;
    color: #2971b6;
  }
}
