/* Temp code for Navbar mobile  */
/* @media (max-width: 1440px) {
  .navbar .navbar-collapse {
    background: #000;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.35s ease;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center !important;
    z-index: 9;
  }
  .navbar .navbar-toggler,
  .navbar-brand {
    z-index: 999;
  }
  .navbar-nav {
    margin-left: initial !important;
  }
  .navbar .navbar-collapse.collapse {
    display: flex;
    opacity: 0;
    pointer-events: none;
  }
  .navbar .navbar-collapse.collapsing[style*="height"] {
    opacity: 1;
    height: 100% !important;
  }
  .navbar .navbar-collapse.collapsing {
    opacity: 0;
    height: 100%;
  }
  .navbar .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: auto;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-right: initial !important;
    margin-top: auto;
    margin-bottom: auto;
  }
  .logo {
    height: 2.5rem;
  }
} */

.navbar {
  background: transparent !important;
}
.navbar-brand {
  color: black !important;
  font-size: 40px !important;
}
.navbar-nav a {
  color: black !important;
  font-size: 20px;
  padding: 0 50px;
}
.navbar-toggler-icon {
  color: black;
}
.navbar-nav {
  margin-left: auto !important;
}
.navbar a:hover {
  color: red !important;
}
.navbar-toggler-icon {
  color: black;
}
/* Home Page */
.home,
.about {
  /* background-color: #feeee5; */
  height: 100vh;
}
.about {
  height: 100% !important;
}
/* a-scene {
  width: 900px !important;
  height: 650px !important;
} */

/* Services Page */
.animation-img {
  z-index: 100 !important;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
}
.virtual-img {
  z-index: 100 !important;
  border-bottom-right-radius: 15%;
  border-top-left-radius: 50%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
}
.virtual-img:hover,
.animation-img:hover {
  animation: myfirst 1s 3;
  animation-direction: alternate;
  cursor: pointer;
}
@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }
  20% {
    left: 15px;
    top: 2px;
    right: 5px;
  }
  30% {
    left: 7px;
    top: 10px;
    right: 10px;
  }
  40% {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
.services-background {
  height: 50vh;
}
.hr-line {
  width: 60px !important;
  height: 0.1rem !important;
  margin-left: 10px;
  color: rgb(163, 14, 14);
}
.testimonials {
  /* height: 30vh !important; */
  background-color: #feeee5;
}
.comments {
  /* height: 40vh !important; */
  background-color: #feeee5;
  color: gray;
}
.arrows {
  color: gray !important;
}
.contact {
  background-color: #ddcfc7;
}
/* Index Page */
.vcol-1 {
  /* margin-left: 40px; */
}
.virtualWorld-img {
  height: 380px !important;
  /* width: 300px; */
}
.home-heading {
  font-size: 50px;
  letter-spacing: 0.3rem;
  font-weight: normal !important;
}
a-scene {
  /* width: 900px !important; */
  /* width: 100% !important; */
  height: 100vh !important;
}
.home {
  position: relative;
  overflow-x: hidden !important;
}
.content {
  position: absolute;
  top: 0 !important;
}
/*Subscribe */
.subscribe-heading {
  font-size: 30px;
  letter-spacing: 0.1rem;
}
.subscribe-bg {
  height: 300px !important;
  /* background-blend-mode: lighten !important; */
  /* background: linear-gradient(#0f020b, #d13531); */
  background-blend-mode: luminosity !important;
}
.home-Services {
  background: #feeee5;
}
